@using PruebaTecnica.Application.Features.Candidates.Queries.GetCandidate;
@model CandidateWithExperiencesVm
@{
    ViewData["Title"] = "Delete";
}
<div class="container mt-5">
    <h2>Eliminar Candidato</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Name @Model.Surname</h5>
            <p class="card-text">ID: @Model.CandidateId</p>
            <p class="card-text">Fecha de Nacimiento: @Model.Birthdate.ToShortDateString()</p>
            <p class="card-text">Correo Electrónico: @Model.Email</p>

            <form asp-action="Delete" asp-controller="Candidate" method="post">
                <input type="hidden" asp-for="CandidateId" />

                <div class="form-group">
                    <label>¿Estás seguro de que deseas eliminar este candidato?</label>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-action="Index" asp-controller="Candidate" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>